[Unit]
Wants=docker.socket
Wants=docker.service
Before=docker.socket docker.service

[Service]
ExecStart=/opt/mgw/bin/ce-wrapper/wrapper -config=conf.json
Restart=always

[Install]
WantedBy=default.target