[Unit]
PartOf=mgw-ce-wrapper.service
Before=mgw-ce-wrapper.service

[Service]
ExecStart=${BIN_PATH}/SENERGY-Platform/mgw-core-manager/bin -config=${BIN_PATH}/SENERGY-Platform/mgw-core-manager/config/conf.json
Restart=always

[Install]
WantedBy=default.target