[Unit]
PartOf=mgw-ce-wrapper.service
Before=mgw-ce-wrapper.service

[Service]
ExecStart=/opt/mgw/bin/host-manager/manager -config=/opt/mgw/bin/host-manager/conf.json
Restart=always

[Install]
WantedBy=default.target