[Unit]
PartOf=docker.service
Before=docker.service

[Service]
ExecStart=/opt/mgw/bin/ce-wrapper/wrapper -config=/opt/mgw/bin/ce-wrapper/conf.json
Restart=always

[Install]
WantedBy=default.target