[Unit]
PartOf=mgw-ce-wrapper.service
Before=mgw-ce-wrapper.service

[Service]
ExecStart=/opt/mgw/bin/SENERGY-Platform/mgw-host-manager/bin -config=/opt/mgw/bin/SENERGY-Platform/mgw-host-manager/conf.json
Restart=always

[Install]
WantedBy=default.target