[Unit]
PartOf=docker.service
Before=docker.service

[Service]
ExecStart=/opt/mgw/bin/SENERGY-Platform/mgw-container-engine-wrapper/bin -config=/opt/mgw/bin/SENERGY-Platform/mgw-container-engine-wrapper/conf.json
Restart=always

[Install]
WantedBy=default.target